<!DOCTYPE html>
<html
  lang="en"
  class="bg-white text-black dark:bg-black dark:text-white prose dark:prose-invert p-4 sm:p-6 lg:p-8"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <script src="https://cdn.tailwindcss.com?plugins=typography,forms,aspect-ratio,container-queries"></script>
    <style>
      ::-webkit-scrollbar {
        display: none;
      }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>
